* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
}

header {
    padding: 16px;
}

#kuukausi-ohjaimet {
    margin-top: 10px;
    display: flex;
}

#kuukausi {
    display: flex;
    margin: 20px;
}

#kuukausi table {
    border-collapse: collapse;
}

#kuukausi th,
#kuukausi td {
    width: 140px; /* 120 */
    height: 140px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}
#kuukausi th {
    height: 70px;
}
#kuukausi td {
    cursor: pointer;
}

.tanaan,
.viikko-tanaan {
    background: #ffffb9;
}

input:focus {
    outline: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-sisalto {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 350px;
    position: relative;
}
.close {
    color: #aaa;
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: #000;
}

.event-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: lightgray;
    border-radius: 50%;
    margin-top: 6px;
    margin-bottom: 1px;
}

.event-dot:hover {
    background: darkgray;
}

.viikko-nakyma {
    display: flex;
    flex-direction: column;
    width: 980px;
    border: 1px solid black;
}

.viikko-paivat,
.viikko-solut {
    display: flex;
}

.viikko-day-header,
.viikko-paiva-solu {
  flex: 1;
    text-align: center;
    box-sizing: border-box;
}

.viikko-day-header {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.viikko-day-header:last-child {
    border-right: none;
}

.viikko-paiva-solu {
    min-height: 300px;
    position: relative;
    border-right: 1px solid black;
}

.viikko-paiva-solu:last-child {
    border-right: none;
}

.viikko-event {
    background: lightgray;
    padding: 6px 10px;
    font-size: 0.97em;
    overflow: hidden;
    display: inline-block;
    width: calc(100% - 12px);
    position: relative;
    box-sizing: border-box;
}

.viikko-event:hover {
    background: darkgray;
}

.viikko-event-desc {
    font-size: 0.92em;
    color: #444;
    margin-top: 2px;
    word-break: break-word;
}

#main-container {
    float: left;
    margin: 0;
}

#tapahtuma-container {
    float: inline-end;
    width: 650px;
}


#kuukausi-ohjaimet {
    border: 1px solid black;
    margin-left: 20px;
    width: fit-content
}
#kuukausi-ohjaimet button {
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px 5px;
    cursor: pointer;
}
#openTapahtumaModalNappi {
    background-color: transparent;
    border: none;
    padding: 5px;
    margin-left: 22px;
    cursor: pointer;
}

#kalenteriKuukausiOsoite {
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}